.header {
    position: fixed;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 30px;
    transition: all .3s;
    background-color: #21054D;
    height: 65px;
}

.header .active {
    padding: 20px 30px;
    background-color: #21054d;
}

::selection {
    color: #fff;
    background-color: #391e88;
}

.logo {
    line-height: 1;
}

.logo__img {
    display: block;
}
img {
    max-width: 100%;
    vertical-align: bottom;
    border-style: none;
}

a{
    transition: .3s;
    text-decoration: none;
    color: #391e88;
    background-color: transparent;
}


*, ::before, ::after {
    box-sizing: inherit;
    background-repeat: no-repeat;
}

.nav {
    display: block;
    
}
h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}


.li {
    display: list-item;
    text-align: -webkit-match-parent;
}


.global-nav__list {
    display: flex;
    padding-left: 30px;
    list-style: none;
}

.global-nav__item:not(:last-child) {
    margin-right: 25px;
}

.global-nav__item {
    font-weight: bold;
    letter-spacing: .1em;
    text-transform: uppercase;
    font-size: 14px;
    font-size: 0.875rem;
}

.global-nav__link {
    position: relative;
    display: inline-block;
    color: #fff;
    
}

.btn-menu {
    display: none;
}

.btn-menu__line {
    position: relative;
    left: 0;
    display: block;
    width: 100%;
    height: 2px;
    transition: all .4s;
    border-radius: 4px;
    background-color: #fff;
}

element.style {
    height: 895px;
}

.hero {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    background-image: url(img/hero.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.hero__inner {
    padding: 0 40px;
    text-align: center;
}

.hero__title {
    position: relative;
    font-weight: bold;
    line-height: 1;
    font-size: 4.5rem;
}

*{
    margin: 0;
    padding: 0;
}

.hero__subtitle {
    margin-top: 20px;
    letter-spacing: .1em;
    font-size: 1.5rem;
}

.u-sp-only {
    display: none;
}

.hero_link {
    margin-top: 50px;
}

body{
    font-family: "Montserrat",Arial,
       "Hiragino Kaku Gothic ProN","Hiragino Sans"
       ,Meiryo,sans-serif;
}


.btn--tranparent {
    border: 1px solid #fff;
    background: none;
}

.btn {
    position: relative;
    font-weight: bold;
    line-height: 1.4;
    display: inline-block;
    width: 200px;
    padding: 20px 0;
    transition: .3s;
    text-align: center;
    text-decoration: none;
    letter-spacing: .1em;
    text-transform: uppercase;
    color: #fff;
    border-radius: 50px;
}

.btn::after {
    position: absolute;
    top: 50%;
    right: 1.5em;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f0da";
    transition: .3s;
    transform: translateY(-50%);
    font-size: 0.875rem;
}

.l-section {
    padding: 70px 0;
}

.news .l-inner {
    display: flex;

}

.l-inner--sm {
    max-width: 950px;
}

.l-inner {
    margin: 0 auto;
    padding: 0 15px; 
}

.news__heading {
    margin-right: 50px;
}

.heading-primary {
    font-weight: bold;
    line-height: 1.2;
    letter-spacing: .05em;
    text-transform: uppercase;
    color: #391e89;
    font-size: 2.25rem;
}

li {
    text-align: -webkit-match-parent;
}

h2{
    display: block;
    margin-block-start: 0.83em;
    margin-inline-start: 0px;   
}

.heading-primary__sub {
    display: block;
    margin-top: 5px;
    letter-spacing: .02em;
    font-size: 0.8125rem;
}

.news__body {
    flex: 1;
}

.news-list__list {
    list-style: none;
}

.news-list__item:not(:last-child) {
    margin-bottom: 15px;
}

.news-list__item{
    display: flex;
}

.news-list__heading {
    display: flex;
}

.news-list__date {
    margin-right: 20px;
}

.news-list__label {
    margin-right: 20px;
}

.label-category {
    font-weight: bold;
    width: 80px;
    padding: 2px 10px;
    text-align: center;
    color: #333;
    border-radius: 20px;
    background-color: #e8e8e8;
    font-size: 0.75rem;    
}

.news-list__body {
    flex: 1;
}

.news-list__link {
    color: #333;
}

a {
    transition: .3s;
    text-decoration: none;
    background-color: transparent;
}

.l-section {
    padding: 70px 0;
}

.l-inner {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 15px;
}

.service__heading {
    margin-bottom: 30px;
    text-align: center;
}

.service__body {
    margin-bottom: 30px;
}

.card-wrapper {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: -30px;
}

.card-wrapper--col13 .card {
    flex: 0 1 31. 53153%;

}

.card-wrapper .card {
    margin-bottom: 30px;
}

.card__img-wrapper {
    margin-bottom: 15px;
}

.card__img {
    width: 100%;
    height: auto;
}

img {
    max-width: 100%;
    vertical-align: bottom;
    border-style: none;
}

.card__body {
    color: #333;
    display: flex;
    flex-direction: column;
}

.card__title {
    font-size: bold;
    line-height: 1.2;
    margin-bottom: center;
    font-size: 1.125rem;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}