.header {
    position: fixed;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 30px;
    transition: all .3s;
    background-color: #21054D
}

.header .active {
    padding: 20px 30px;
    background-color: #21054d;
}

::selection {
    color: #fff;
    background-color: #391e88;
}

.logo {
    line-height: 1;
}

.logo__img {
    display: block;
}
img {
    max-width: 100%;
    vertical-align: bottom;
    border-style: none;
}

a{
    transition: .3s;
    text-decoration: none;
    color: #391e88;
    background-color: transparent;
}


*, ::before, ::after {
    box-sizing: inherit;
    background-repeat: no-repeat;
}

.nav {
    display: block;
    
}
h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}


.li {
    display: list-item;
    text-align: -webkit-match-parent;
}


.global-nav__list {
    display: flex;
    padding-left: 30px;
    list-style: none;
}

.global-nav__item:not(:last-child) {
    margin-right: 25px;
}

.global-nav__item {
    font-weight: bold;
    letter-spacing: .1em;
    text-transform: uppercase;
    font-size: 14px;
    font-size: 0.875rem;
}

.global-nav__link {
    position: relative;
    display: inline-block;
    color: #fff;
    
}

.btn-menu {
    display: none;
}

.btn-menu__line {
    position: relative;
    left: 0;
    display: block;
    width: 100%;
    height: 2px;
    transition: all .4s;
    border-radius: 4px;
    background-color: #fff;
}

.hero {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    background-image: url(img/hero.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.hero__inner {
    padding: 0 40px;
    text-align: center;
}

.hero__title {
    position: relative;
    font-weight: bold;
    line-height: 1;
    font-size: 4.5rem;
}

*{
    margin: 0;
    padding: 0;
}

.hero__subtitle {
    margin-top: 20px;
    letter-spacing: .1em;
    font-size: 1.5rem;
}

.u-sp-only {
    display: none;
}

.hero_link {
    margin-top: 50px;
}

body{
    font-family: "Montserrat",Arial,
       "Hiragino Kaku Gothic ProN","Hiragino Sans"
       ,Meiryo,sans-serif;
}


.btn--transparent {
    border: 1px solid #fff;
    background: none;
}

.btn {
    position: relative;
    font-weight: bold;
    line-height: 1.4;
    display: inline-block;
    width: 200px;
    padding: 20px 0;
    transition: .3s;
    text-align: center;
    text-decoration: none;
    letter-spacing: .1em;
    text-transform: uppercase;
    color: #fff;
    border-radius: 50px;
}