@charset "UTF-8";

*, {
    box-sizing: inherit;
    background-repeat: no-repeat;
}  
* {
    margin: 0;
} 

.header {
    position: fixed;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    transition: all .3s;
    padding: 30px;
}

.header .active {
    padding: 20px 30px;
    background-color: #21054d;
}

::selection {
    color: #fff;
    background-color: #391e88;
}

.logo {
    line-height: 1;
}

.logo__img {
    display: block;
}
img {
    max-width: 100%;
    vertical-align: bottom;
    border-style: none;
}

a{
    transition: .3s;
    text-decoration: none;
    color: #391e88;
    background-color: transparent;
}


*, ::before, ::after {
    box-sizing: inherit;
    background-repeat: no-repeat;
}

.nav {
    display: block;
    
}
h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}


.li {
    display: list-item;
    text-align: -webkit-match-parent;
}


.global-nav__list {
    display: flex;
    padding-left: 30px;
    list-style: none;
}

.global-nav__item:not(:last-child) {
    margin-right: 25px;
}

.global-nav__item {
    font-weight: bold;
    letter-spacing: .1em;
    text-transform: uppercase;
    font-size: 14px;
    font-size: 0.875rem;
}

.global-nav__link {
    position: relative;
    display: inline-block;
    color: #fff;
}

.global-nav__link::after {
    position: absolute;
    bottom: -5px;
    left: 0;
    display: block;
    width: 0;
    height: 1px;
    content: "";
    transition: width .3s;
    background-color: #fff;
}

::after {
    vertical-align: inherit;
    text-decoration: inherit;
    background-repeat: no-repeat;
}


.btn-menu {
    display: none;
}

.btn-menu__line {
    position: relative;
    left: 0;
    display: block;
    width: 100%;
    height: 2px;
    transition: all .4s;
    border-radius: 4px;
    background-color: #fff;
}

element.style {
    height: 895px;
}

.hero {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    background-image: url(img/hero.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.hero__inner {
    padding: 0 40px;
    text-align: center;
}

.hero__title {
    position: relative;
    font-weight: bold;
    line-height: 1;
    font-size: 4.5rem;
}

*{
    margin: 0;
}

.hero__subtitle {
    margin-top: 20px;
    letter-spacing: .1em;
    font-size: 1.5rem;
}

.u-sp-only {
    display: none;
}

.hero_link {
    margin-top: 50px;
}

.hero__scroll {
    position: absolute;
    right: 20px;
    bottom: 0;
    line-height: inline-block;
    overflow: hidden;
    padding: 10px 10px 90px;
    text-decoration: none;
    letter-spacing: .2em;
    text-transform: uppercase;
    color: #fff;
    font-size: 0.75rem;
    writing-mode: vertical-lr;
}



body{
    font-family: "Montserrat",Arial,
       "Hiragino Kaku Gothic ProN","Hiragino Sans"
       ,Meiryo,sans-serif;
       line-height: 1.8;
       font-size: 0.9375rem;
}


.btn--tranparent {
    border: 1px solid #fff;
    background: none;
}

.btn {
    position: relative;
    font-weight: bold;
    line-height: 1.4;
    display: inline-block;
    width: 200px;
    padding: 20px 0;
    transition: .3s;
    text-align: center;
    text-decoration: none;
    letter-spacing: .1em;
    text-transform: uppercase;
    color: #fff;
    border-radius: 50px;
}

.btn::after {
    position: absolute;
    top: 50%;
    right: 1.5em;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f0da";
    transition: .3s;
    transform: translateY(-50%);
    font-size: 0.875rem;
}

.l-section {
    padding: 70px 0;
}

.news .l-inner {
    display: flex;

}

.l-inner--sm {
    max-width: 950px;
}

.l-inner {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 15px; 
}

.news__heading {
    margin-right: 50px;
}

.heading-primary {
    font-weight: bold;
    line-height: 1.2;
    letter-spacing: .05em;
    text-transform: uppercase;
    color: #391e89;
    font-size: 2.25rem;
}

li {
    text-align: -webkit-match-parent;
}

h2{
    display: block;
    margin-block-start: 0.83px;
    margin-inline-start: 0px;   
}

.heading-primary__sub {
    display: block;
    margin-top: 5px;
    letter-spacing: .02px;
    font-size: 0.8125rem;
}

.news__body {
    flex: 1;
}

.news-list__list {
    list-style: none;
}

.news-list__item:not(:last-child) {
    margin-bottom: 15px;
}

.news-list__item{
    display: flex;
}

.news-list__heading {
    display: flex;
}

.news-list__date {
    margin-right: 20px;
}

.news-list__label {
    margin-right: 20px;
}

.label-category {
    font-weight: bold;
    width: 80px;
    padding: 2px 10px;
    text-align: center;
    color: #333;
    border-radius: 20px;
    background-color: #e8e8e8;
    font-size: 0.75rem;    
}

.news-list__body {
    flex: 1;
}

.news-list__link {
    color: #333;
}

a {
    transition: .3s;
    text-decoration: none;
    background-color: transparent;
}

.l-section {
    padding: 70px 0;
}

.l-inner {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 15px;
}

.service__heading {
    margin-bottom: 30px;
    text-align: center;
}

.service__body {
    margin-bottom: 30px;
}

.card-wrapper {
    display: flex;
    margin-bottom: -30px;
}

.card-wrapper--col3 .card {
    flex: 0 1 31.53153%;
    margin-right: 30px;
}

.card-wrapper .card {
    margin-bottom: 30px;
}

.card__img-wrapper {
    margin-bottom: 15px;
}


.card__img {
    width: 100%;
    height: auto;
}

img {
    max-width: 100%;
    vertical-align: bottom;
    border-style: none;
}

.card__body {
    color: #333;
    display: flex;
    flex-direction: column;
}

.card__title {
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 15px;
    text-align: center;
    font-size: 1.125rem;
}

p {
    display: block;
    margin-block-start: 1px;
    margin-block-end: 1px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.service__link {
    text-align: center;
}

.btn-more {
    position: relative;
    font-weight: bold;
    line-height: 1.4;
    display: inline-block;
    width: 200px;
    padding: 20px 0;
    transition: .3s;
    text-align: center;
    text-decoration: none;
    letter-spacing: .1px;
    text-transform: uppercase;
    color: #fff;
    border-radius: 50px;
    background-image: linear-gradient(to right,#7633a4 0%,#250d65 51%,#7633a4 100%);
    background-size: 200% auto;
    font-size: 0.875rem;

}

.btn-more::after{
    position: absolute;
    top: 50%;
    right: 1.5rem;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f0da";
    transition: .3s;
    transform: translateY(-50%);
    font-size: 0.875rem; 
}


a.btn-more::after {
    vertical-align: inherit;
    text-decoration: inherit;
}

.works {
    padding: 60px 0 40px 0;
}

.works .l-inner {
    display: flex;
    position: relative;
    align-items: center;
    padding: 60px 20px; 
}

.l-inner--x1 {
    max-width: 1300px;
}

.works__img-wrapper {
    width: 59.52380%;
    margin-right: 30px;
}

.swiper-container {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding-bottom: 30px;
    padding: 0;
    z-index: 1;
}

.swiper-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    transition-property: transform;
    box-sizing: content-box;
}

.swiper-slide {
    flex-shrink: 0;
    height: 100%;
    position: relative;
}

.swiper-pagination {
    position: absolute;
    transition: .3s opacity;
    transform: translate3d(0,0,0);
}

/*.swiper-pagination-bullet {
    width: 8px;
    height: 8px;
    display: inline-block;
    border-radius: 100%;
    background: #000;
    opacity:
}*/

.works__contents {
    flex: 1;
    text-align: center;
}

.works__heading {
    margin-bottom: 30px;
    display: flex;
}

.heading-primary {
    font-weight: bold;
    line-height: 1.2;
    letter-spacing: .05;
    text-transform: uppercase;
    color: #391e88;
    font-size: 2.25rem;
}

.heading-primary__sub {
    display: block;
    margin-top: 5px;
    font-size: 0.8125rem;
}

.works__body {
    margin-top: 40px;
    margin-bottom: 30px;
}
[role="button"] {
    cursor: pointer;
    color: inherit;
}

.swiper-button-prev::after {
    content: "\f104";
}

.button-prev::after {
    position: absolute;
    top: 50%;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    display: block;
    transform: translateY(-50%);
    color: #391e88;
    font-size: 2rem;
}




.works .l-inner::after{
        position: absolute;
        top: 50%;
        right: 0;
        z-index: -1;
        display: block;
        width: 60%;
        height: 100%;
        content: "";
        transform: translateY(-50%);
        background-color: #f0f0f0;
}

.company {
    padding: 130px 0 130px 0;
    text-align: center;
    background-image: url()
}

.l-inner {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 15px;
}

.company__heading {
    margin-bottom: 30px;
}

.heading-primary {
    font-weight: bold;
    line-height: 1.2;
    letter-spacing: .05em;
    text-transform: uppercase;
    color: #391e88;
    font-size: 2.25rem;
}

.company__body {
    margin-bottom: 30px;
}

.message {
    margin-bottom: 30px;
    text-align: center;
    background-repeat: no-repeat, no-repeat;
    background-position: center,center,center,center;
    background-size: cover, cover;
}

.message__heading {
    font-weight: bold;
    line-height: 1;
    display: inline-block;
    margin-bottom: 40px;
    font-size: 2.5rem; 
}

.message__underline {
    background: linear-gradient(transparent 70%,#f5f534 0%);
}

.u-sp-only {
    display: none;
}

.l-sectuon {
    padding: 70px 0;
}

.recruit .l-inner {
    display: flex;
}

.l-inner {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 15px;
}

.recruit__contents {
    display: flex;
    align-items: center;
    flex: 1;
    justify-content: center;
    background-color: #f0f0f0;
}

.recruit__heading {
    margin-bottom: 30px;
    text-align: center;
}

.recruit__body {
    margin-bottom: 30px;
}

.recruit__img-wrapper {
    flex: 0 0 59.9099%;
}

.recruit__img {
    height: 100%;
    object-fit: cover;
}

.contact {
    margin-top: 40px;
    padding: 80px 0;
    text-align: center;
    background-color: #f0f0f0; 
}

.contact__heading {
    margin-bottom: 30px;

}

.contact__body {
    margin-bottom: 20px;
}

.footer {
    padding: 60px 30px 20px;
    background-color: #120e19;
}

.footer-nav__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
}

.footer-nav__item:not(:last-child) {
    margin-right: 10px;   
}

.footer-nav__item {
    letter-spacing: .1em;
    text-transform: uppercase;
    color: #e9e1d1; 
    font-size: 0.75rem;
}

.footer-nav__link {
    line-height: 1;
    padding: 5px;
    color: #fff;
}

.copyright {
    margin-top: 30px;
    text-align: center;
    font-size: 0.625rem;
}

.copyright__link {
    text-decoration: none;
    color: #a798b7;
}

.page-top {
    position: fixed;
    right: 45px;
    bottom: 45px;
    z-index: 1;   
}

.page-top__link {
    display: block;
    width: 50px;
    height: 50px;
    padding: 12px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    border-radius: 50%;
    background-color: #391e88;
}

.fas {
    font-weight: 900;
    font-family: "Font Awesome 5 Free";
    
}

.fa-arrow-up:before {
    content: "\f062";
}